In [63]:
# Dependencies
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [2]:
executable_path = {'executable_path': r'C:/Users/HimaniAkshay/chromedriver_win32/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# URL of Mars page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Examine the results, then determine element that contains sought info
#print(soup.prettify())

In [6]:
# results are returned as an iterable list
tresult = soup.find('div', class_="content_title")
news_title = tresult.find('a').text
presults = soup.find('div', class_="article_teaser_body")
news_p = presults.text


print(news_title)
print(news_p)

Why This Martian Full Moon Looks Like Candy
For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera.

In [27]:
# URL for JPL Featured Space image page to be scraped
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
base_url = 'https://www.jpl.nasa.gov'
browser.visit(url)

In [28]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

li_result = soup.find('li', class_='slide')

fb_result = li_result.find('a', class_='fancybox')

url_result = fb_result.get('data-fancybox-href')

print(url_result)

/spaceimages/images/largesize/PIA23208_hires.jpg

In [29]:
featured_image_url = base_url + url_result
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23208_hires.jpg

In [30]:
#URL for Mars Weather Twitter account
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [31]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [53]:
div_result = soup.find('div', class_= 'js-tweet-text-container')
print(div_result)

<div class="js-tweet-text-container">
<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">InSight sol 159 (2019-05-08) low -100.3ºC (-148.5ºF) high -21.6ºC (-6.9ºF)
winds from the SW at 4.6 m/s (10.4 mph) gusting to 15.3 m/s (34.2 mph)
pressure at 7.40 hPa<a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/rg5UKl8dLc">pic.twitter.com/rg5UKl8dLc</a></p>
</div>

In [58]:
mars_weather = div_result.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
print(mars_weather)

InSight sol 159 (2019-05-08) low -100.3ºC (-148.5ºF) high -21.6ºC (-6.9ºF)
winds from the SW at 4.6 m/s (10.4 mph) gusting to 15.3 m/s (34.2 mph)
pressure at 7.40 hPapic.twitter.com/rg5UKl8dLc

In [106]:
url = 'https://space-facts.com/mars/'

In [107]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [108]:
mars_data_df = tables[0]
mars_data_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [109]:
mars_data_df.columns = ['Parameters', 'Value']
mars_data_df.head()

             Parameters                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [110]:
mars_html_table = mars_data_df.to_html()
mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Parameters</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [111]:
#Stripping unwanted newlines to clean the table
mars_html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameters</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [113]:
#Storing data frame in html file
mars_data_df.to_html('MarsDataTable.html')

In [81]:
#Mars Hemispheres
#Url for USGS astrogeology site
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [82]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [136]:
hemisphere_image_urls = []
hemi_dict = {}
partial_url = 'https://astrogeology.usgs.gov'

item_results = soup.findAll('div', class_='item')

for each in item_results:
    img_link = each.find('a', class_='itemLink product-item')['href']
    complete_url = partial_url + img_link
    
    browser.visit(complete_url)
    html = browser.html
    bsoup = BeautifulSoup(html, 'html.parser')
    
    image_results = bsoup.find('img', class_='wide-image')['src']
    img_url = partial_url+image_results
    title_results = bsoup.find('h2', class_= 'title').text.strip('Enhanced')
    
    
    hemi_dict = {"title": title_results, "img_url": img_url}
    hemisphere_image_urls.append(hemi_dict)

print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere ', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere ', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere ', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere ', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]